.footer-separator {
  height: 5em;
  background: #FFCBCB;
  border: solid #707070 1px;
  margin-bottom: 2em;
}

.info-section {
  flex: 1;
}

.info-section .title {
  font-size: 1.4em;
  margin-bottom: 1vh;
}

.info-section .option {
  font-size: 1em;
  margin-bottom: 0.5vh;
}

.info-section .option a {
  color: inherit;
  text-decoration: none;
}

.info-section .icon {
  height: 1em;
}

.info-section .option-container > *{
  margin-right: 0.5vw;
}

.footer {
  margin-bottom: 7em;
}