.col-container {
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.stick-right {
  margin-left: auto;
}

.stick-left {
  margin-right: auto;
}

.clickable {
  cursor: pointer;
}

.container-hspread-md > *{
  margin-left: 1em;
  margin-right: 1em;
}

.container-hspread-sm > *{
  margin-left: 0.35em;
  margin-right: 0.35em;
}

.container-vspread-md > *{
  margin-top: 1em;
  margin-bottom: 1em;
}

.container-vspread-sm > *{
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

* {
  font-family: corporate-a, serif;
  font-weight: 400;
  font-style: normal;
}